<div class="row">
    <div class="col-4"></div>
    <div class="col-4 border border-primary rounded-4 p-5 mt-5 bg-light">
        <h1 class="text-center mt-3 mb-3">Login</h1>
        <div class="text-center mb-3"><img  style="width:100px" src="../../assets/images/logobank.jpg" alt=""></div>
        <h4 style="text-align: center;">{{aim}}</h4>
        <form action="" class="text-center">
            <!--<input type="text" placeholder="Account Number" id="acno" class="form-control mt-3"> -->
            <input (change)="acnoChange($event)" type="text" [placeholder]="accounts" id="acno" class="form-control mt-3">
            <input (change)="pswdChange($event)" type="password" placeholder="password" id="password" class="form-control mt-3">
         <!--<button type="button" class="btn btn-info mt-3" onclick="login()">Login</button> -->
           <button type="button" class="btn btn-info mt-3" (click)="login()">Login</button>
        </form>
        <div class="text-center mt-3">
            <a href="#">Forgot Password?</a> OR <a href="register.html">Signup</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>