<div class="row">
    <div class="col-4"></div>
    <div class="col-4 border border-primary rounded-4 p-5 mt-5 bg-light">
        <h1 class="text-center mt-3 mb-3">Register</h1>
        <div class="text-center mb-3"><img  style="width:100px" src="../../assets/images/logobank.jpg" alt=""></div>
        <h4 style="text-align: center;"> </h4>
        <form [formGroup]="registerForm" action="" class="text-center">
    
            <input formControlName="uname" type="text" placeholder="Enter User Name" name="uname" id="login_uname" class="form-control mt-3">
            <input  formControlName="acno" type="text" placeholder="Enter Account Number" name="acno" id="login_acno" class="form-control mt-3">
            <input formControlName="pswd"  type="password" placeholder="password"  name="password" id="login_pswd" class="form-control mt-3">
        
           <button type="button" class="btn btn-info mt-3" (click)="register()">Register</button>
        </form>
        <div class="text-center mt-3">
            <a href="#">Forgot Password?</a> OR <a routerLink="">Signup</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>